[defaults]
# este inventario es un placeholder, el de verdad se genera cada vez que
# ejecutamos un playbook desde la web (inventario temporal con credenciales)
inventory = /opt/ansible-visual/ansible/inventory/hosts.ini
host_key_checking = False
timeout = 30
forks = 5
# rutas de colecciones y roles
collections_paths = /usr/share/ansible/collections:/root/.ansible/collections
roles_path = /opt/ansible-visual/ansible/roles
#lo añadí después
[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
